{% set profilePictureOptions = {
    mode: 'crop',
    width: 224,
    height: 224,
    quality: 90
} %}

<li class="py-10 px-6 bg-gray-800 text-center rounded-lg xl:px-10 xl:text-left">
    <div class="space-y-6 xl:space-y-10">
        {% set profilePicture = entry.profilePicture.one() %}
        <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56"
             src="{{ profilePicture.getUrl(profilePictureOptions) }}" alt="{{ profilePicture.title }}"/>
        <div class="space-y-2 xl:flex xl:items-center xl:justify-between">
            <div class="font-medium text-lg leading-6 space-y-1">
                <h3 class="text-white">{{ entry.title }}</h3>
                <p class="text-orange-600">{{ entry.jobTitle }}</p>
            </div>

            <ul role="list" class="flex justify-center space-x-5 text-lg">
                {% if entry.truckersmpId|length %}
                    <li>
                        <a class="text-gray-400 hover:text-gray-300"
                           href="https://truckersmp.com/user/{{ entry.truckersmpId }}" target="_blank">
                            <span class="sr-only">TruckersMP</span>
                            <i class="fas fa-truck"></i>
                        </a>
                    </li>
                {% endif %}
                {% if entry.steamId|length %}
                    <li>
                        <a class="text-gray-400 hover:text-gray-300"
                           href="https://steamcommunity.com/profiles/{{ entry.steamId }}" target="_blank">
                            <span class="sr-only">Steam</span>
                            <i class="fab fa-steam"></i>
                        </a>
                    </li>
                {% endif %}
                {% if entry.twitchUsername|length %}
                    <li>
                        <a class="text-gray-400 hover:text-gray-300" href="https://twitch.tv/{{ entry.twitchUsername }}"
                           target="_blank">
                            <span class="sr-only">Twitch</span>
                            <i class="fab fa-twitch"></i>
                        </a>
                    </li>
                {% endif %}
                {% if entry.twitterUsername|length %}
                    <li>
                        <a class="text-gray-400 hover:text-gray-300"
                           href="https://twitter.com/{{ entry.twitterUsername }}" target="_blank">
                            <span class="sr-only">Twitter</span>
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                {% endif %}
                {% if entry.githubUsername|length %}
                    <li>
                        <a class="text-gray-400 hover:text-gray-300"
                           href="https://github.com/{{ entry.githubUsername }}" target="_blank">
                            <span class="sr-only">GitHub</span>
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</li>
