{% extends "_layout.twig" %}

{% do eagerLoadElements(entry, [
    'careerPosition',
]) %}

{% block content %}
    {% include '_partials/navbar/navbar.twig' %}

    {% include 'includes/header.twig' with {
        'tag': 'Staff Team Openings',
        'title': entry.title,
    } %}

    {% embed '_partials/post/content.twig' with { 'rectangles': false } %}
        {% block content %}
            <div class="prose prose-lg prose-orange text-gray-400 mx-auto max-w-6xl">
                {{ typogrify(entry.careerInformation) }}
            </div>
        {% endblock %}
    {% endembed %}

    <div class="bg-gray-900 border-t border-gray-800">
        <div class="max-w-2xl mx-auto text-center pt-16 px-4 sm:pt-6 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
                <span class="block">Looks good?</span>
                <span class="block">Why not give it a shot!</span>
            </h2>
        </div>

        <div class="max-w-6xl mx-auto bg-white px-6 py-2 sm:py-0 sm:px-10 lg:col-span-2 xl:p-12 text-left my-6 rounded-lg">
            {{ craft.formie.renderForm(entry.careerApplicationForm.one()) }}
        </div>
    </div>

    {% set teamMembers = craft.entries()
        .section('team')
        .relatedTo(entry.careerPosition)
        .all() %}

    {% set profilePictureOptions = {
        format: 'webp',
        mode: 'crop',
        width: 80,
        height: 80,
        quality: 50
    } %}
    <div class="bg-orange-600">
        <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
            <div class="grid grid-cols-1 gap-12 lg:grid-cols-3 lg:gap-8">
                <div class="space-y-5 sm:space-y-4">
                    <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl text-white">
                        This could be your future team
                    </h2>
                </div>
                <div class="lg:col-span-2">
                    <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
                        {% for member in teamMembers %}
                            <li>
                                <div class="flex items-center space-x-4 lg:space-x-6">
                                    {% set profilePicture = member.profilePicture[0] ?? null %}
                                    <img class="w-16 h-16 rounded-full lg:w-20 lg:h-20"
                                         width="80" height="80"
                                         src="{{ profilePicture.getUrl(profilePictureOptions) ?? '' }}"
                                         alt="{{ profilePicture.title ?? '' }}">
                                    <div class="font-medium text-lg leading-6 space-y-1">
                                        <h3 class="text-white">{{ member.title }}</h3>
                                        <p class="text-gray-900">{{ member.jobTitle }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% set entries = craft.entries()
        .section('careers')
        .id(['not', entry.id])
        .limit(3)
        .all() %}
    {% if entries|length > 0 %}
        <div class="relative bg-orange-600 py-12 border-t border-orange-800">
            <div class="relative max-w-7xl mx-auto">
                <div class="text-center">
                    <h2 class="text-3xl tracking-tight font-extrabold text-white sm:text-4xl">
                        Other open positions
                    </h2>
                </div>
                <div class="mt-8 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
                    {% for entry in entries %}
                        {% include '_partials/careers/card.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
