<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% include 'includes/favicons.twig' %}
    <link rel="stylesheet" type="text/css" href="{{ rev('/assets/css/app.css') }}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% do view.registerJsFile(rev('/assets/js/cookie-consent.js')) %}
    {% block scripts_top %}
    {% endblock %}
</head>
<body class="flex flex-col h-screen">
{{ craft.blitz.getTemplate('includes/cookie-banner') }}
<div class="flex-grow bg-gray-900">
    {% block content %}
    {% endblock %}
</div>

{% include 'includes/footer.twig' %}

<script src="{{ rev('/assets/js/manifest.js') }}"></script>
<script src="{{ rev('/assets/js/app.js') }}"></script>
{% block scripts_bottom %}
{% endblock %}
</body>
</html>
