<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ rev('/assets/css/app.css') }}">
</head>
<body>
{% block content %}
{% endblock %}

{% include 'includes/footer.twig' %}

<script src="{{ rev('/assets/js/manifest.js') }}"></script>
<script src="{{ rev('/assets/js/app.js') }}"></script>
</body>
</html>
